
body{
    margin: 0;

}


.line{
width: 100%;
height: 8px;
background-color: #a292b3;
}

 

.header{
/*border: 1px solid red ; */ 
width: 1020px;
height: 130px;
display: flex;
align-items: center; /*выравнивает по горизонтали в центр*/
justify-content: space-between; 
margin: 0 auto; /*центр страницы*/
color: #545454;

}


.buttons{
    display: flex;
    /*border: 1px solid rgb(0, 255, 170) ;*/
    align-items: center; 
    width: 600px;
    justify-content: space-between; /* растягивает по горезонтали*/

}

.buttons-item{

    /*border: 1px solid rgb(132, 0, 255); */
    display: flex;
    align-items: center;
    cursor: pointer;                

}

.button-img {
margin-right: 10px; /*отступ между картинкой и текстом*/

}

.slider{
    width: 1020px;
    height: 485px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    background: url( '../images/картинка.jpg'); /*обязательно .. чтобы вйти из папки*/
    background-repeat: no-repeat; /*не повторять картинки если будет маленький формат*/
    background-position: center; /*если картинка больше рамки  то можно смещать*/
    background-size: cover; /*картинку подгоняет в рамку  cover- всё заполняе*/
    position: relative; /* отсчет по координатам от родителя, эта функция ставится в родителе*/
    color: white;



}

.slider-button {
width: 35px;
height: 65px;
background: #a292b3; /*фон*/
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: calc(50% - 32.5px); /*считает растояние*/
}

.button-left {left: 0px;}


.button-right {right: 0px;

transform: rotate(180deg);} /*поворот картинки*/

/* или такой вариант   .button-right > img {transform: rotate(180deg);}*/

.slider-title {

font-size: 84px; 
margin-bottom: 22px;  
text-shadow: -4px 4px 0 rgba(162, 146, 179, .7); 

}

